<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <input-container label="Email">
        <input type="email" placeholder="Email" formControlName="email" />
        <input-validation
          [control]="fc.email"
          [showErrorsWhen]="isSubmitted"
        ></input-validation>
      </input-container>
      <input-container label="Password">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <input-validation
          [control]="fc.password"
          [showErrorsWhen]="isSubmitted"
        ></input-validation>
      </input-container>

      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
